@using EducationApp.BusinessLogicLayer.Models.ViewModels
@using EducationApp.BusinessLogicLayer.Models.PrintingEditions
@model PrintingEditionsViewModel
@{
    ViewData["Title"] = "Printing Editions list";
}
<table class="table">
    <thead>
        <tr>
            <th>Edition id</th>
            <th>Edition title</th>
            <th>Edition description</th>
            <th>Edition type</th>
            <th>Edition authors</th>
            <th>Edition price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PrintingEditionModel edition in Model.PrintingEditions)
        {
            <tr>
                <td>@edition.Id</td>
                <td>@edition.Title</td>
                <td>@edition.Description</td>
                <td>@edition.Type.ToString()</td>
                <td>
                    @foreach (string authorName in edition.Authors)
                    {
                        <p>@authorName</p>
                    }
                </td>
                <td>@edition.Price</td>
            </tr>
        }
    </tbody>
</table>


<div class="pages">
    <div class="filler"></div>
    @Html.ActionLink("previous page", "PrintingEditions", "Admin", new { page = Model.CurrentPage - 1 }, new { id = "previousPage" })
    <span>Page @Model.CurrentPage/@Model.LastPage</span>
    @Html.ActionLink("next page", "PrintingEditions", "Admin", new { page = Model.CurrentPage + 1 }, new { id = "nextPage" })
</div>